<div class="group w-[270px] h-[300px] bg-white rounded-[25px] shadow-md p-4 flex flex-col items-center justify-center text-center
border-4 border-primario hover:bg-primario hover:cursor-pointer hover:scale-110 first-line:transition-colors duration-300">
  
  <div class="w-[100px] h-[100px] bg-primario rounded-full flex items-center justify-center transition-colors duration-300 group-hover:bg-white">
    <span class="material-symbols-outlined text-[60px] text-claro leading-none transition-colors duration-300 group-hover:text-primario">
      {{ icon }}
    </span>
  </div>
  
  <h2 class="text-lg font-semibold mb-2 mt-2 transition-colors duration-300 group-hover:text-white">{{ title }}</h2>
  <p class="text-sm transition-colors duration-300 group-hover:text-white">{{ content }}</p>
</div>
